body, html {
    margin: 0;
    display: flex;
    overflow: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
}
.content {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    color: white;
}
.side-panel {
    height: 100%;
    width: 200px;
}

.explorer {
    flex: 1;
    background: rgba(39, 39, 39, 0.95);
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.explorer .top-details {
    background: rgb(27, 27, 27);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
}
.explorer .top-details  .path {
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background: rgb(59, 59, 59);
    border-radius: 6px;
    height: 25px;
    width: 95%;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}


.navigation-buttons {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 20px;
    height: 50px;
    width: 100%;
}
.navigation-buttons .button {
    cursor: pointer;
    padding: 10px;
    opacity: 0.6;
    font-size: 20px;
}
.navigation-buttons .button:hover {
    opacity: 1;
}
.files-area {
    display: flex;
    overflow: auto;
}
.files-area-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    flex: 1;

}

.files-area .file {
    padding: 10px;
    user-select: none;
    cursor: default;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    height: fit-content;

} 
.files-area .file:hover {
    background: rgb(54, 54, 54);
}
.files-area .file .image {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/file.png);
    background-position: center;
    background-size: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 0;
}
.files-area .file.folder .image {
    background-image: url(../img/folder.png);
}
.files-area .file .name {
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
}