body, html {
    margin: 0;
    height: 100%;
}
.background {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    height: 100%;

}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    transform: translateY(50px);
    animation-name: example;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
    animation-timing-function:ease;
}
@keyframes example {
    from {
        transform: translateY(50px);
        opacity: 0.3;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }


.search {
    background: rgb(22, 22, 22);
    border-radius: 4px;
    width: calc(100% - 70px);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
    margin-top: 15px;
}
.search input {
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 100%;
    outline: none;
    color: white;
}
.search:focus-within {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}
.content .title {
    align-self: flex-start;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 12px;
    opacity: 0.8;
}
.content .apps-list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 10px;
}
.content .apps-list .app {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    flex-direction: column;
    align-items: center;   
    border-radius: 6px;
    margin: 10px;
    user-select: none;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;

} 
.content .apps-list .app:hover {
    background: rgba(0, 0, 0, 0.4);
}
.content .apps-list .app .icon { 
    font-size: 40px;
    background-image: url(../img/file.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}